@import "../variables";
@import "../mixins";

.section {
	&-narrow &Media {
		// height: 90vh;
		grid-column: 1 / 2;
		@include responsive($breakpoint-mobile) {
			grid-column: 1 / 4;
		}
	}
	// &3 &Media {
	// 	// height: 90vh;
	// 	grid-column: 1 / 2;
	// }
	// &6 &Media {
	// 	grid-column: 1 / 2;
	// }

	&Intro {
		display: flex;
		flex-direction: column;
		gap: $content-gap;
	}

	&Title {
		@include type-h1;
	}

	&Nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: $nav-step-gap;

		&Item {
			background: $step-bg-color-prev;
			border: 2px solid $step-bg-color-active;
			position: relative;
			& + &::before {
				background: $step-bg-color-active;
				position: absolute;
				content: "";
				width: 0.3rem;
				height: $nav-step-connector-height;
				bottom: 100%;
				transform: translateY(-0.1rem);
			}

			@include type-navItem;
			height: $nav-step-height;
			width: $nav-step-width;

			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			border-radius: 50%;

			position: relative;

			&-active {
				background: $step-bg-color-active;
			}
			&-active ~ & {
				border-color: $step-bg-color-next;
				// content: "&#10004" !important;
				background: $step-bg-color-next;
				&::before {
					background: $step-bg-color-next;
				}
			}
		}
		&Link {
			// flex: 1;

			&::before {
				content: "";
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				border-radius: 50%;
			}
		}
	}

	&:not(:first-of-type) {
		.sectionBody {
			grid-row: 1/3;
		}
	}
	&Body {
		height: 100%;
		// max-height: 60vh;
		display: grid;
		gap: $section-grid-gap;
		grid-template-columns: 3fr 2fr 3fr;

		@include responsive($breakpoint-tablet) {
			align-content: center;
		}
		// grid-template-rows: repeat(2, minmax(1fr 25vw));
		// grid-template-rows: 25vw 1fr;
		// grid-template-rows: repeat(2, min-content);

		& > * {
			grid-row: 1 / 3;
		}

		// write a media query for the mobile view

		@include responsive($breakpoint-mobile) {
			& > * {
				grid-row: unset;
				align-content: center;
			}
		}
	}
	&Media {
		grid-column: 1/3;

		@include responsive($breakpoint-mobile) {
			max-height: 30vh;
			grid-column: 1/4;
			grid-row: 1/2;
		}

		/* Media Query */
		/* Media Query End */
	}
	&Image {
		// height: 100%;
		width: 100%;

		/* Media Query */
		height: auto; // optional
		/* Media Query End */
	}
	&Content {
		grid-column: 2/4;

		@include responsive($breakpoint-mobile) {
			grid-column: 1/4;
		}
		@include responsive($breakpoint-tablet) {
			align-content: center;
		}
		/* Media Query */
		/* Media Query End */

		display: grid;
		gap: 4rem;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 1fr;
		align-items: center;
	}
	&Article {
		grid-column: 1/3;

		display: grid;
		grid-template-columns: 2fr 3fr;
		gap: $content-article-gap;

		&Title {
			grid-column: 1/3;

			@include type-h2;
		}
		&Text {
			grid-column: 1/3;
			@include type-base;
		}
		&Btn {
			justify-self: start;
			grid-column: 2/3;
			@include responsive($breakpoint-mobile) {
				grid-column: 1/3;
			}

			@include type-btn;
		}
	}
}
