//  contains all the resets, colors, variables, mixins, and utility classes
@import "./variables";
@import "./mixins";
@import "./reset";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: $font-size-base;
}
.container {
	width: clamp($container-width-min, $container-width, $container-width-max);
	margin: 0 auto;
	padding: 0;
}

body {
	@include type-base;
	color: $text;
	background: $background;
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active,
	&:visited {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	object-fit: cover;
}

button {
	color: inherit;
	font-family: inherit;
	cursor: pointer;
	background: none; // remove later
	border: unset;
	padding: 1rem 2rem;
}

p {
	max-width: 60rem;
}
