//  contains all the resets, colors, variables, mixins, and utility classes
@import url("./variables");
@import url("./mixins");

.container {
	width: clamp(32rem, 95vw, 120rem);
	margin: 0 auto;
	padding: 0;

	// !test styles
	// padding-bottom: 10rem;
}

// TODO: Move the styles to the components folder - END
.section {
	display: flex !important;
	justify-content: center !important;
	align-items: center;
	& > .container {
		align-items: center;
		max-height: 98vh;
		display: grid;
		gap: $step-child-gap;
		// grid-template-columns: 1fr repeat(3, 1fr);
		grid-template-columns: $nav-width repeat(3, 1fr);
		// grid-template-rows: repeat(2, minmax(min-content, 20vh));
		// grid-template-rows: max(20vh);
		// grid-template-rows: minmax(1fr, 10rem) minmax(1fr, 10rem);
		// grid-template-rows: repeat(auto-fill, minmax(1fr, 10rem));
		// grid-template-rows: auto;
		// grid-auto-rows: minmax(1fr, 20rem);
		overflow: hidden;

		// justify-items: center;
		// align-items: center;
	}

	&:first-of-type {
		.sectionBody {
			max-height: 60vh;
		}
	}
	&:not(:first-of-type) {
	}

	&Intro {
		grid-column: 2/5;
		// grid-row: 1/2;
	}
	&Nav {
		grid-column: 1/2;
		grid-row: 1/3;
	}
	&Body {
		grid-column: 2/5;
		// grid-row: 1/3;
	}

	&:first-of-type {
		// .sectionIntro {
		// 	grid-row: 1/2;
		// }
		.sectionBody {
			// grid-row: 2/3;
		}
	}
}
