//  contains all the resets, colors, variables, mixins, and utility classes
@import url("./variables");
@import url("./mixins");

.container {
	width: clamp(32rem, 95vw, 120rem);
	margin: 0 auto;
	padding: 0;
}

// TODO: Move the styles to the components folder - END
.section {
	& > .container {
		display: grid;
		gap: $step-child-gap;
		grid-template-columns: repeat(4, 1fr);
	}

	&Spacer {
		grid-column: 1/2;
	}
	&Intro {
		grid-column: 2/5;
	}
	&Nav {
		grid-column: 1/2;
	}
	&Body {
		grid-column: 2/5;
	}
}
