// Typography

@mixin type-base {
	font-family: "Avenir", serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.6;
	color: $color-nute-20;
}

@mixin type-headings {
	font-family: "Playfair Display", serif;
	// font-weight: 500;
}

@mixin type-h1 {
	font-size: 4.5rem;
}

@mixin type-h2 {
	font-size: 3rem;
}

@mixin type-p {
	font-size: 1.6rem;
}

@mixin type-btn {
	margin-top: 3rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	border: 0.5px solid $primary-dark;
	color: $btn-color;

	&:hover {
		// background: $color-nute-30;
		// color: $color-nute-90;
		transition: 0.2s ease all;
	}
}

@mixin type-navItem {
	font-size: 2.5rem;
	font-weight: 500;
}

@mixin test-border {
	border: 1px dashed red;
}
