.fp-overflow.fp-table {
	// display: flex;
}

.fp-overflow {
	// justify-content: center !important;
}
.fp-watermark {
	display: none !important;
}
.fp-tooltip {
	background: #333333;
	color: #fff;
	padding: 0.05rem 0.75rem;
	border-radius: 1rem;
}
