@import url("./variables");
@import url("./mixins");
.fp-watermark {
  display: none !important;
}

.fp-tooltip {
  background: #333333;
  color: #fff;
  padding: 0.05rem 0.75rem;
  border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  width: clamp(32rem, 95vw, 120rem);
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Avenir", serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  color: #333333;
  color: #2b2b2b;
  background: #fff;
}

ul {
  list-style: none;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: unset;
  padding: 1rem 2rem;
}

h1 {
  font-family: "Playfair Display", serif;
}

p {
  max-width: 60rem;
}

.container {
  width: clamp(32rem, 95vw, 120rem);
  margin: 0 auto;
  padding: 0;
}

.section {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section > .container {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.sectionSpacer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.sectionIntro {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}

.sectionNav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.sectionBody {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}

.section3 .sectionMedia {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.section6 .sectionMedia {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.sectionIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.sectionTitle {
  font-size: 4.5rem;
}

.sectionNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.sectionNavItem {
  background: transparent;
  border: 2px solid #c1dff5;
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
  height: 5rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 50%;
  position: relative;
}

.sectionNavItem + .sectionNavItem::before {
  background: #c1dff5;
  position: absolute;
  content: "";
  width: 0.3rem;
  height: 5rem;
  bottom: 100%;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.sectionNavItem-active {
  background: #c1dff5;
}

.sectionNavItem-active ~ .sectionNavItem {
  border-color: #e0dddb;
  background: #e0dddb;
}

.sectionNavItem-active ~ .sectionNavItem::before {
  background: #e0dddb;
}

.sectionNavLink::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 50%;
}

.sectionBody {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: 3fr 2fr 3fr;
      grid-template-columns: 3fr 2fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.sectionBody > * {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.sectionMedia {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.sectionImage {
  height: 100%;
  width: 100%;
}

.sectionContent {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionArticle {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  gap: 2rem;
}

.sectionArticleTitle {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 3rem;
}

.sectionArticleText {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-family: "Avenir", serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  color: #333333;
}

.sectionArticleBtn {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 3rem;
  padding: 1rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 0.5px solid #000;
  color: #262124;
}

.sectionArticleBtn:hover {
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
/*# sourceMappingURL=style.css.map */